*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    line-height: 0;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --clr-Soft-Cyan: rgb(165, 243, 235);
    --clr-Strong-Cyan: rgb(16, 213, 194);
    --clr-Cyan: rgb(95, 236, 222);
    --clr-Light-Grayish-Red: rgb(254, 236, 231);
    --clr-Light-Red: rgb(255, 140, 102);
    --clr-Pale-Blue: rgb(189, 204, 255);

    --clr-White: rgb(255, 255, 255);
    --clr-Very-Pale-Blue: rgb(250, 251, 255);
    --clr-Lighter-Grayish-Blue: rgb(234, 238, 251);
    --clr-Light-Grayish-Blue: rgb(205, 215, 238);
    --clr-Grayish-Blue: rgb(133, 143, 173);
    --clr-Dark-Desaturated-Blue: rgb(41, 51, 86);
    --progres-bar: 50%;
}

.sr-only {
    position: absolute !important;
    width: 0.0625rem !important;
    height: 0.0625rem !important;
    padding: 0 !important;
    margin: -0.0625rem !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

body {
    font-family: Manrope, sans-serif;
    font-size: 0.75rem;
    color: var(--clr-Grayish-Blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--clr-Very-Pale-Blue);
    background-image: url(images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 800;
    color: var(--clr-Dark-Desaturated-Blue);
    margin-bottom: 0.625rem;
}

.header {
    background-image: url(images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.0625rem 0rem;
}

.Introductory-Paragraph {
    font-size: 0.8125rem;
    text-align: center;
    max-width: 11.25rem;
    color: var(--clr-Grayish-Blue);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    padding: 1rem 0rem;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0rem 1.25rem;
}

.pageviews-paragraph {
    font-size: 0.8125rem;
    letter-spacing: 0.125rem;
    font-weight: 800;
    text-transform: uppercase;
}

.pageviews-paragraph span {
    margin-right: 0.375rem;
}

.price {
    font-size: 2rem;
    font-weight: 800;
    margin-right: 0.5rem;
    color: var(--clr-Dark-Desaturated-Blue);
    vertical-align: middle;
}

.slider {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 0.5rem;
    width: 18.125rem;
    border-radius: 0.625rem;
    cursor: pointer;
    background-color: var(--clr-Lighter-Grayish-Blue);
}

.slider::-moz-range-progress {
    background-color: var(--clr-Soft-Cyan);
    height: 100%;
    border-radius: 0.625rem;
}

.slider::-moz-range-thumb {
    appearance: none;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background: var(--clr-Strong-Cyan);
    background-image: url(images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    initial-value: 50%;
    box-shadow: 0 1.125rem 2rem 0rem rgb(80, 255, 240);
    transition: all 0.15s ease-in-out;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: var(--clr-Strong-Cyan);
    background-image: url(images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-40%);
    box-shadow: 0 1.125rem 2rem 0rem rgb(80, 255, 240);
    transition: all 0.15s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
    background-color: var(--clr-Cyan);
    cursor: pointer;
}

.slider::-moz-range-thumb:hover {
    background-color: var(--clr-Cyan);
    cursor: pointer;
}

.toggle-switch:hover.toggle-switch::-webkit-slider-thumb {
    border-color: var(--clr-Cyan);
}

.toggle-switch:hover.toggle-switch::-moz-range-thumb {
    border-color: var(--clr-Cyan);
}

.slider::-webkit-slider-thumb:active {
    background-color: rgb(65, 190, 178);
    cursor: grabbing;
}

.slider::-moz-range-thumb:active {
    background-color: rgb(65, 190, 178);
    cursor: pointer;
}

.slider::-moz-range-track {
    height: 0.5rem;
    border-radius: 0.625rem;
    background-image: linear-gradient(to right, var(--clr-Soft-Cyan) var(--progres-bar), transparent 0%);
}

.slider::-webkit-slider-runnable-track {
    height: 0.5rem;
    border-radius: 0.625rem;
    background-image: linear-gradient(to right, var(--clr-Soft-Cyan) var(--progres-bar), transparent 0%);
}

.content {
    background-color: var(--clr-White);
    border-radius: 0.625rem;
    -webkit-box-shadow: 0rem 0.5625rem 0.9375rem 0.625rem rgba(220, 212, 242, 0.2);
    -moz-box-shadow: 0rem 0.5625rem 0.9375rem 0.625rem rgba(220, 212, 242, 0.2);
    box-shadow: 0rem 0.5625rem 0.9375rem 0.625rem rgba(220, 212, 242, 0.2);
}

.toggle-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.toggle-switch {
    margin-left: 0.625rem;
    margin-right: 0.625rem;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 1.375rem;
    width: 2.625rem;
    border-radius: 0.75rem;
    background: var(--clr-Light-Grayish-Blue);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.toggle-switch::-webkit-slider-thumb {
    appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    border: 0.1875rem solid var(--clr-Light-Grayish-Blue);
    border-radius: 50%;
    background: var(--clr-White);
    box-shadow: none;
    transition: all 0.15s ease-in-out;
}

.toggle-switch::-moz-range-thumb {
    border: 0.1875rem solid var(--clr-Light-Grayish-Blue);
    border-radius: 50%;
    background: var(--clr-White);
    box-shadow: none;
    transition: all 0.15s ease-in-out;
}

.label-yearly {
    position: relative;
}

.label-yearly::after {
    content: "-25%";
    position: absolute;
    right: -2.75rem;
    color: var(--clr-Light-Red);
    background-color: var(--clr-Light-Grayish-Red);

    font-size: 0.625rem;
    font-weight: bold;
    padding: 0.125rem 0.375rem;
    border-radius: 0.75rem;
}

.list-btn-container {
    display: flex;
    flex-direction: column;
    border-top: 0.0625rem solid var(--clr-Lighter-Grayish-Blue);
    padding: 2rem 0rem;
}

.ul-container {
    margin-bottom: 1rem;
}

.list-btn-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1.5625rem;
}

ul li {
    font-size: 0.75rem;
    list-style-type: none;
    margin-bottom: 0.5rem;
}

ul li img {
    display: inline-block;
    margin-right: 1rem;
}

.start-my-trial-btn {
    width: 10.6875rem;
    height: 2.5625rem;
    border-radius: 2.5rem;
    background-color: var(--clr-Dark-Desaturated-Blue);
    cursor: pointer;
    border: none;
}

a {
    color: var(--clr-Light-Grayish-Blue);
    text-decoration: none;
    font-size: 0.7813rem;
    transition: all 0.15s ease-in-out;
}

.start-my-trial-btn:hover a {
    color: var(--clr-White);
}

@media screen and (min-width: 37.5rem) {
    body {
        align-items: center;
    }

    h1 {
        font-size: 1.75rem;
    }

    .main-wrapper {
        min-width: 33.75rem;
    }

    .pageviews-paragraph {
        font-size: 0.875rem;
        letter-spacing: 0.1187rem;
        margin-left: -0.1875rem;
    }

    .header {
        padding: 0;
        height: 9.125rem;
        margin-bottom: 3.5rem;
    }

    .Introductory-Paragraph {
        font-size: 0.9375rem;
        max-width: none;
    }

    .grid-one {
        grid-area: one;
        justify-content: flex-start !important;
    }

    .grid-two {
        grid-area: two;
    }

    .grid-three {
        grid-area: three;
    }

    .grid {
        grid-template-areas:
            "one three"
            "two two";
        padding: 2.5rem 3rem 0rem 3rem;
        row-gap: 1.25rem;
    }

    .grid div {
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
    }

    .price {
        font-size: 2.4375rem;
        margin-right: 0.3125rem;
    }

    .price-paragraph {
        font-size: 1rem;
    }

    .slider {
        width: 100%;
    }

    .toggle-switch-container {
        margin: 0;
        margin: 2.5rem 0rem;
    }

    .toggle-switch {
        margin: 0rem 1.0625rem;
    }

    .toggle-switch:hover {
        background-color: var(--clr-Cyan);
    }

    .toggle-switch:hover.toggle-switch::-webkit-slider-thumb {
        border-color: var(--clr-Cyan);
    }

    .toggle-switch:hover.toggle-switch::-moz-range-thumb {
        border-color: var(--clr-Cyan);
    }

    .list-btn-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 2.75rem;
    }

    .label-yearly::after {
        content: "25% discount";
        right: -5.5rem;
    }

    .ul-container {
        margin: 0;
    }

    ul {
        align-items: stretch;
        margin: 0rem 0rem 0rem 0.25rem;
        padding: 0;
    }

    ul li {
        margin: 0;
        margin-bottom: 0.5625rem;
    }

    li:last-child {
        margin-bottom: 0 !important;
    }

    .main-wrapper {
        padding-bottom: 4.5rem;
    }

    @media screen and (min-width: 90rem) {
        body {
            background-size: 100% 28.0625rem;
        }
    }
}

@media screen and (max-width: 20.625rem) {
    .slider {
        width: 15rem;
    }

    .toggle-switch-container {
        justify-content: stretch;
        margin-left: 0.5rem;
    }
}
